.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
  }
  a {
    text-align: center;
    color: red;
    font-weight: bold;
    &:hover {
      color: black;
    }
  }
}

@media (min-width: 688px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin-left: 0.6rem;
    }
  }
}